<html dir="rtl" lang="ar">

<h2>مرحبا، <%= @resource.first_name %>!</h2>

<% if @resource.try(:unconfirmed_email?) %>
  <p>تم تغيير بريدك الإلكتروني الخاص بحساب <b>إشارة</b> إلى <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>تم تغيير بريدك الإلكتروني الخاص بحساب <b>إشارة</b> إلى <%= @resource.email %>.</p>
<% end %>
