<html dir="rtl" lang="ar">

<head>
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet" type="text/css">
</head>

<body style="font-family:Cairo">
	<h2>مرحبا، <%= @resource.first_name %>!</h2>

	<p>تم تغيير كلمة سر حساب إشارة الخاص بك.</p>
	
	<br/>
	<p style="color:#6b6b47;">فريق إشارة</p>
</body>
</html>
