<html dir="rtl" lang="ar">

<head>
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet" type="text/css">
</head>

<body style="font-family:Cairo">
	<h2>مرحبا، <%= @resource.first_name %>!</h2>
	<p>تلقينا طلب تغيير كلمة السر الخاصة بك. يمكنك تغيير كلمة السر عبر الزر التالي:</p>
	 
	<%= link_to edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s), 
	{:style=>'text-decoration:none;'} do %>
      <%= content_tag :div, "تغيير كلمة السر", 
        :style => "text-align:center; width: 180px; height: 40px; line-height: 40px; color: #fff;
          background: linear-gradient(to right, #f46b45 0%, #eea849 100%); border-radius: 28px; 
          text-decoration: none;" %>
  	<% end %><br/>
  	<p>أو عبر نسخ الرابط:</p>
  	<p><%= edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s) %></p>
	<br/>
	<p>إذا لم تقم بطلب تغيير كلمة السر الخاصة بك، من فضلك تجاهل هذه الرسالة.</p>
	
	<br/>
	<p style="color:#6b6b47;">فريق إشارة</p>
</body>
</html>
