<html dir="rtl" lang="ar">

<h2>مرحبا، <%= @resource.first_name %>!</h2>

<p>تلقينا طلب تغيير كلمة السر الخاصة بك. يمكنك تغيير كلمة السر عبر الرابط التالي:</p>

<p><%= link_to 'تغيير كلمة السر', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>إذا لم تقم بطلب تغيير كلمة السر الخاصة بك، من فضلك تجاهل هذه الرسالة.</p>
